@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
html,
body {
  height: 100%;
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  transform: translateX(-35%);
}

.carousel-caption h3 {
  text-shadow: 1px 1px 10px #000;
  color: #fff;
}

.carousel-caption button {
  color: #fff;
}

/*---Media Queries --*/

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
  padding: 1rem;
}

#signForm {
  box-sizing: border-box;
  margin: 2vw 4vw;
  width: 450px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 2% 1.5%;
  margin-top: 20vh;
}

#signForm h2 {
  font-weight: 600;
}

#signForm p {
  margin-top: 1vh;
  margin-bottom: 6vh;
}

#signForm input[type="text"],
#signForm input[type="password"],
#signForm input[type="email"] {
  width: 100%;
  height: 7vh;
  border-color: gray;
  border-radius: 4px;
  border-width: 0.7px;
  margin: 1vh 0;
  padding-left: 0.7vw;
  box-sizing: border-box;
  font-size: 1rem;
  outline-color: olive;
}

#checkbox {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5.5vh;
}

#checkbox input {
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 1vw;
}

#signForm button {
  width: 100%;
  font-size: 1rem;
  font-weight: 550;
  height: 7vh;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #01a479;
}

#contactSection {
  background-image: url("../img/wa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: fit-content;
  text-align: center;
  padding: 30vh 0;
  /* height: fit-content;
  width: 100%; */
}

#contactSection h1 {
  font-size: 400%;
  font-weight: 600;
}

#contactSection div input {
  margin-top: 5vh;
  width: 800px;
  border-radius: 50px;
  height: 11vh;
  padding-left: 4vw;
  box-sizing: border-box;
  font-size: 2.3rem;
  font-weight: 600;
}

#contactSection div {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

#startedButton {
  position: absolute;
  right: 0.5%;
  top: 34.3%;
  border: none;
  border-radius: 50px;
  height: 75px;
  width: 200px;
  font-size: 35px;
  color: white;
  font-weight: 600;
  background-color: #01a479;
}

#pointSection {
  margin-top: 20vh;
  display: flex;
  flex-flow: row nowrap;
}

#sideImage {
  width: 50vw;
  margin-right: 2vw;
}

#pointSystem {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.pointItem {
  width: 14vw;
  border: 2px solid black;
  border-radius: 30%;
  padding: 1vw;
  margin: 2vw;
  height: 15vw;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.33);
}

.pointItem h2 {
  margin-top: 1vh;
  font-size: 1.3rem;
}

.imageParent {
  width: 8vw;
  height: fit-content;
  margin: 0 auto;
}

@media (max-width: 1020px) {
  .pointItem h2 {
    font-size: 0.8rem;
  }
  #sideImage {
    width: 100vw;
    margin: 0;
  }
  .pointItem {
    height: 60vw;
    width: 60vw;
  }
  .imageParent {
    width: 50%;
    height: fit-content;
    margin: 0 auto;
  }
  .imageParent img {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  * {
    font-size: 20px;
  }
}

@media (max-width: 1020px) {
  #stepsUL li div {
    position: absolute;
    width: 40%;
    top: 45%;
    left: 50%;
  }
  #stepsUL li img {
    width: 100vw;
  }
  #stepsUL li div p {
    margin-top: 1vh;
    font-size: 0.5rem;
  }
}

.bg-image {
  background-image: url("../img/main-home-3.jpg");
  min-height: 100%;
  margin-top: -10%;
}

.hero-banner {
  background-image: url("../img/bg/02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pointSection {
  transform: translateY(-20%);
}
